
.container {
  width: 100%;
  padding: 14px 12px;
  cursor: pointer;
}

.image {
  width: 68px;
  height: 68px;
  display: inline-block;
  border-radius: 50%;
}

.titleWrap {
  width: 50%;
  display: inline-block;
  position: relative;
  top: 14px;
  margin-left: 8px;
}

.link {
  display: block;
  position: relative;
  top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0 6%;
  font-size: 17px;
}

.authorLink {
  font-size: 14px;
  display: block;
  margin: 0 0 0 10%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.sideCarrot {
  margin-left: 6%;
}

@media only screen and (min-width: 400px) {
  .sideCarrot {
    margin-left: 16%;
  }
}

@media only screen and (min-width: 640px) {
  .sideCarrot {
    margin-left: 16%;
  }
  .image {
    width: 130px;
    height: 130px;
  }
  .link {
    font-size: 20px;
  }
  .authorLink {
    font-size: 16px;
  }
  .titleWrap {
    margin-left: 22px;
  }
}

@media only screen and (min-width: 960px) {
  .sideCarrot {
    margin-left: 22%;
  }
}

@media only screen and (min-width: 1200px) {
  .sideCarrot {
    margin-left: 30%;
  }
}
