.sliderContainer {
  position: relative;
  top: 80%;
  height: 20%;
  overflow: hidden;
  z-index: 3;
  background: #FFFFFD;
  width: 94%;
  border-radius: 10px 10px 0;
  transition: top .25s ease-in, height .25s ease-in;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
}

.slideArea {
  background: orange;
  height: 80%;
  width: 100%;
  text-align: center;
}

.filter {

  height: 30px;
  width: 200px;
  margin: 0 auto;
  border: 1px grey solid;
}

.activeList {
  background: transparent;
}

.inactiveList {
  background: grey;
}

.boxLeft {
  width: 50%;
  height: 100%;
  border-right: 1px grey solid;
  display: inline-block;
}

.boxRight {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.listWrap {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 40px;
}
