.sliderContainer {
  position: absolute;
  width: 94%;
  /*max-height: 60%;*/
  bottom: 0;
  left: 50%;
  overflow: hidden;
  z-index: 3;
  background: #FFFFFD;
  border-radius: 10px 10px 0 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slideArea {
  background: orange;
  height: 100%;
  width: 100%;
  text-align: center;
}

.arrow {
  height: 100px;
}

.listWrap {
  overflow-y: hidden;
  max-height: 0px;
  width: 100%;
  -webkit-transition: height .25s ease-in, overflow-y .25s ease-in .25s;
  transition: max-height .25s ease-in, overflow-y .25s ease-in .25s;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 40px;
}

/* BELOW STYLES NOT USED. ADD BACK IN IF FILTER BOX ADDED BACK */

.filter {
  height: 30px;
  width: 200px;
  margin: 0 auto;
  border: 1px grey solid;
}

.activeList {
  background: transparent;
}

.inactiveList {
  background: grey;
}

.boxLeft {
  width: 50%;
  height: 100%;
  border-right: 1px grey solid;
  display: inline-block;
}

.boxRight {
  width: 50%;
  height: 100%;
  display: inline-block;
}
